snippet pprint "import ppring" !b
from pprint import pprint
pprint(${0})
endsnippet

snippet cl "cl" !b
print(${0})
endsnippet

snippet clb "bookended console log" b
print("<><><><><><><><><>")
print("<><><><><><><><><>")
print($0)
print("<><><><><><><><><>")
print("<><><><><><><><><>")
endsnippet

snippet fl "fl" !b
self.fail(${0})
endsnippet
